@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject cadastro.Client.Services.SessaoService Sessao


<link href="https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/home.css" />

<div class="menu">
    <div class="menu-frame">
        <div class="menu-menu">
            <header class="header">
                <div class="header-logo-left">
                    <div class="header-barra"></div>
                    <img src="assets/_163d66ba-473a-40af.png" class="header-logo" />
                </div>

                <div class="header-profile-right">
                    <p class="header-text-lucas">@Sessao.NomeUsuario</p>
                    <img src="assets/Profile.png" class="header-profile-img" />
                </div>

            </header>

            <div class="menu-row">
                <div class="card-barra-lateral">
                    <button class="barra-btn" @onclick="IrParaHome">
                        <img src="assets/home.png" alt="Home" />
                    </button>
                    <button class="barra-btn" @onclick="IrParaChamado">
                        <img src="assets/headphone icon.png" alt="Abrir Chamado" />
                    </button>
                    <button class="barra-btn" @onclick="IrParaNotificacao">
                        <img src="assets/Notificacao icon.png" alt="Notificações" />
                    </button>
                    <button class="barra-btn" @onclick="IrParaConfiguracao">
                        <img src="assets/config icon.png" alt="Configurações" />
                    </button>
                    <button class="barra-btn card-barra-lateral-exit-icon" @onclick="Sair">
                        <img src="assets/exit.png" alt="Sair" />
                    </button>
                </div>
            </div>
        </div>

        <div class="menu-group">
            @Body
        </div>
    </div>
</div>

@code {
    void IrParaHome() => Navigation.NavigateTo("/usuario"); 
    void IrParaChamado() => Navigation.NavigateTo("/chamado-usuario");
    void IrParaNotificacao() => Navigation.NavigateTo("/notificacoes-usuario");
    void IrParaConfiguracao() => Navigation.NavigateTo("/configuracoes-usuario");
    void Sair() => Navigation.NavigateTo("/");
}

